html {
    margin: auto auto;
    min-width: 400px;
}

body.mepage {
    position: relative;
}

h1.intpage {
    position: absolute;
}

#ukr,
#rus,
#eng,
#html,
#css,
#js {
    display: none;
    float: right;
}

.linksm.mepage {
    position: absolute;
    width: 100%;
    height: 16%;
}

.inf {
    text-align: left;
}

a.intpage {
    font-size: large;
}

#mlinkstart {
    top: 0%;
}

#mlinkme {
    top: 18%;
}

#mlinkskills {
    top: 36%;
}

#mlinkcontacts {
    top: 54%;
}

#mlinkhobbies {
    top: 72%;
}
